.banner {
    width: 100%;
}

.sobre {
    background: #CCCCCC;
    padding: 30px;
    height: 250px;
}

.sobre:hover .strong_missao {
    color: red;
}

.sobre strong {
    font-weight: bold;
}


.titulo {
    padding-bottom: 30px;
    text-align: center;
    font-size: 2em;
}


.p_sobre {
    text-align: center;
    padding-bottom: 30px;
    font-size: 20px;
}

#missao {
    font-size: 25px;
}

/*
.strong_missao {
    color: red;
}
*/


.beneficios {
    background: white;
    padding: 20px;
}

.beneficios_ul {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.beneficios:hover .itens{
    text-decoration: underline;
}


.itens {
    font-style: italic;
    font-size: 30px;
    margin-bottom: 25%;
    padding-left: 20%;
}

.imagembeneficio {
    width: 50%;
}